@import "./settings";
@import "../components/nav/navStyle";
@import "../components/formRegister/formRegister";
@import "../components/formLogin/formLogin";
@import "../pages/accueil/accueilStyle";
@import "../components/formPosts/formPostStyle";
@import "../components/card/cardStyle";
@import "../pages/lesAnnonces/annoncesStyle";



.App {
  background: $white;
  font-family: $MontserratRegular;
  font-size: 20px;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
  font-family: $MontserratBlack;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

h2 {
  text-align: left;
  font-family: $MontserratExtraBold;
  font-size: 2.5rem;
}

input {
  border: none;
  height: 2rem;
  margin: 1rem;
  width: 250px;
  border-radius: 5px;
  padding-left: 3px;
}

button {
  background-color: $color4;
  height: 30px;
  width: 20%;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;

}

button:hover {
  cursor: pointer;
  background-color: $color5;
  color: $white;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color3;
    border-radius: 5px;
}

select {
  border: none;
  height: 2rem;
  margin: 1rem;
  width: 250px;
  border-radius: 5px;
  padding-left: 3px;
  font-size: 0.9rem;
}