@import "./settings";
@import "../components/nav/navStyle";

.App {
  background: $white;
  font-family: $MontserratRegular;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: $MontserratBlack;
  font-size: 2rem;
}

h2 {
  text-align: center;
}