.toutesLesAnnonces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
    ;
}

.buttonC {
    width : 200px;
    height: 50px;
    margin-left: 3rem;
}